<meta charset="UTF-8">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="/css/udbt.css" /> 
<script>
$(document).ready(function(){
	$('#deletebtn').click(function(){
		var carmodelid = $('input[name="carmodelid"]').val();
		var c = confirm('삭제 하시겠습니까?');
		if(c == true){
			location.href='delete?carmodelid='+carmodelid;
		}
		
	});
	
	$('#updatebtn').click(function(){
		$('.carmodel').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'updateimpl'
		});
		$('.carmodel').submit();
	});
});

</script>

<style>
.form-group > img{
	width:300px; 
}
</style>

<div class="col-lg-6">

        <div class="form-group">
    		<h1 class="h2 text-gray-700 mb-25 text-center">충전기 타입 정보 상세</h1>
		</div>
        <form class="carmodel">
            
            <div class="form-group">
            	<img th:src="@{'/img/'+${cmv.carimg}}">
                <input type="hidden" class="form-control form-control-user"
                    name="carimg" th:value="${cmv.carimg}">
            </div>        
        
            <div class="form-group">
                <input type="number" class="form-control form-control-user"
                    name="carmodelid" th:value="${cmv.carmodelid}" readonly="readonly">
            </div>
 
             <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="mname" th:value="${cmv.mname}">
            </div>
                       
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="mbrand" th:value="${cmv.mbrand}">
            </div>
           
            <div class="form-group">
                <input type="number" class="form-control form-control-user"
                    name="crange" th:value="${cmv.crange}">
            </div>
            
            <div class="form-group">
                <input type="number" class="form-control form-control-user"
                    name="batterysize" th:value="${cmv.batterysize}">
            </div>
 
             <div class="form-group">
                <input type="number" class="form-control form-control-user"
                    name="fptid" th:value="${cmv.fptid}">
            </div>
            
            <div class="form-group">
                <input type="number" class="form-control form-control-user"
                    name="sptid" th:value="${cmv.sptid}">
            </div>         

              <div class="form-group">
                  <input type="file" class="form-control form-control-item"
                      name="mf">
              </div>                      
                                      	
         	<a id="updatebtn" href="#">업데이트</a>
            <a id="deletebtn" href="#">삭제</a>   
            
        </form>
        

</div>