<meta charset="UTF-8"> 
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



<script>
$(document).ready(function(){

	
	$('#registerbtn').click(function(){
		var uid = $('input[name="uid"]').val();
		var idl = [[${session.loginadmin.id}]];
		
		if(uid == null||uid == ''){
		   alert('현재 접속한 ID를 삽입해 주세요.');
		}else if(uid == idl){
		$('.communitywrite').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'addimpl'
		});
		$('.communitywrite').submit();
		}else{
			alert('현재 접속한 ID와 일치하지 않습니다.');
		}
	});
	
	$('#autoComplete').autocomplete({ 
        source : function(reuqest, response) {
            $.ajax({
                type : 'POST',
                url: 'autocomplete',
                dataType: "json",
                data: {searchValue:  $('#autoComplete').val()},
                success : function(data) {
                    response(
                        $.map(data, function(item) {
                            return {
                                label : item.statNm,
                                value : item.statNm,
                                id : item.statId,
                                addr : item.addr
                            }
                        })
                    );
                },
                 error:function(request,status,error){       
                	 alert("code = "+ request.status + " message = " + request.responseText + " error = " + error);       
               	},
            });
        },
        select : function(event, ui) {
            console.log(ui.item);

        	var location = ui.item.addr.split(' ', 2).join(" ");
        	$("#statid").val(ui.item.id);
        	$("#location").val(location);
        },
        focus : function(event, ui) { 
            return false;
        },
        minLength : 1, 
        autoFocus : true, 
        classes : { 
            'ui-autocomplete' : 'highlight'
        },
        delay : 500, 
        disable : false, 
        position : { my : 'right top', at : 'right bottom'}, 
        close : function(event) {
            console.log(event);
        }
    });
});

</script>
<form class="communitywrite">
<div class="form-group">
    <h1 class="h2 text-gray-700 mb-25 text-center">관리자 공지 등록</h1>
</div>
<br>   <br>  

  <div class="form-group">
    <label class="control-label col-sm-2" for="uid">사용자 ID</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="uid">
    </div>
  </div> 
  
  <div class="form-group">
    <div class="col-sm-4">
      <input type="hidden" name="statid" id="statid" class="form-control" 
      onfocus="this.placeholder = ''" onblur="this.placeholder = '충전소아이디'">
    </div>
  </div>   

  <div class="form-group">
    <div class="col-sm-4">
      <input type="hidden" name="location" id="location" class="form-control" 
      onfocus="this.placeholder = ''" onblur="this.placeholder = '지역'">
    </div>
  </div>    

  <div class="form-group">
  <label class="control-label col-sm-2">위치</label>
    <div class="col-sm-4">
      <input type="text" name="statNm" id="autoComplete" class="form-control" 
      onfocus="this.placeholder = ''">
    </div>
  </div> 

   <div class="form-group">
    <label class="control-label col-sm-2" for="title">제목</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="title">
    </div>
  </div>  

   <div class="form-group">
    <label class="control-label col-sm-2" for="tf">글 내용</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="tf">
    </div>
  </div>  
  
    <div class="form-group">
    <label class="control-label col-sm-2" for="mf">이미지</label>
    <div class="col-sm-4">
      <input type="file" class="form-control" name="mf">
    </div>
  </div>    
     
 <br>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="registerbtn" class="btn btn-success" style="width: 200px;">등록</button>
    </div>
  </div>  
  
</form>

</html>