<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">

$(document).ready(function(){
	
	$('#registerbtn').click(function(){
		var uid = $('input[name="uid"]').val();
		var idl = [[${session.loginadmin.id}]];
		
		if(uid == null||uid == ''){
		   alert('현재 접속한 ID를 삽입해 주세요.');
		}else if(uid == idl){
		$('.communitywrite').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'addimpl'
		});
		$('.communitywrite').submit();
		}else{
			alert('현재 접속한 ID와 일치하지 않습니다.');
		}
	});
});

</script>
<form class="communitywrite">
<div class="form-group">
    <h1 class="h2 text-gray-700 mb-25 text-center">관리자 공지 등록</h1>
</div>
<br>   <br>  

  <div class="form-group">
    <label class="control-label col-sm-2" for="uid">사용자 ID</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="uid">
    </div>
  </div> 

  <div class="form-group">
    <label class="control-label col-sm-2" for="location">지역명</label>
    <div class="col-sm-4">
      <select name="location" id="location" class="form-control form-control-item">
      <optgroup label="ㄱ">
		 <option>서울특별시 강남구</option>
	     <option>서울특별시 강동구</option>
	     <option>서울특별시 강북구</option>
         <option>서울특별시 강서구</option>
	     <option>서울특별시 관악구</option>
	     <option>서울특별시 광진구</option>
	     <option>서울특별시 구로구</option>
	     <option>서울특별시 금천구</option>      
      </optgroup>
		<optgroup label="ㄴ">    
		  <option>서울특별시 노원구</option>
		</optgroup>
		  <optgroup label="ㄷ">    
			 <option>서울특별시 도봉구</option>
			 <option>서울특별시 동대문구</option>
			 <option>서울특별시 동작구</option>
	      </optgroup>
		<optgroup label="ㅁ">
			<option>서울특별시 마포구</option>
		</optgroup>
		    <optgroup label="ㅅ">
			    <option>서울특별시 서대문구</option>
			    <option>서울특별시 서초구</option>
			    <option>서울특별시 성동구</option>
			    <option>서울특별시 성북구</option>
			    <option>서울특별시 송파구</option>
		    </optgroup>
		    <optgroup label="ㅇ">
			    <option>서울특별시 양천구</option>
			    <option>서울특별시 영등포구</option>
			    <option>서울특별시 용산구</option>
			    <option>서울특별시 은평구</option>
		    </optgroup>
		    <optgroup label="ㅈ">
			    <option>서울특별시 종로구</option>
			    <option>서울특별시 중구</option>
			    <option>서울특별시 중랑구</option>
		    </optgroup>   
      </select>
    </div>
  </div> 

  <div class="form-group">
    <label class="control-label col-sm-2" for="statid">상세 지역명</label>
    <div class="col-sm-4">
      <select name="statid" id="statid" class="form-control form-control-item">
                  <option th:each="st:${stlist}" 
                  th:if="${st.statId != 0}"
                  th:value="${st.statId}" th:text="${st.statNm}">
                  </option>
      </select>
    </div>
  </div> 

   <div class="form-group">
    <label class="control-label col-sm-2" for="title">제목</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="title">
    </div>
  </div>  

   <div class="form-group">
    <label class="control-label col-sm-2" for="tf">글 내용</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="tf">
    </div>
  </div>  
  
    <div class="form-group">
    <label class="control-label col-sm-2" for="mf">이미지</label>
    <div class="col-sm-4">
      <input type="file" class="form-control" name="mf">
    </div>
  </div>    
     
 <br>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="registerbtn" class="btn btn-success" style="width: 200px;">등록</button>
    </div>
  </div>  
  
</form>

</html>