<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="/css/udbt.css" /> 

<script th:inline="javascript">
$(document).ready(function(){
	$('#deletebtn').click(function(){
		var pid = $('input[name="pid"]').val();
		var c = confirm('삭제 하시겠습니까?');
		if(c == true){
			location.href='delete?pid='+pid;
		}
		
	});

	$('#updatebtn').click(function(){
		$('.communitydetail').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'update'
		});
		$('.communitydetail').submit();
	});
	
    $('#autoComplete').autocomplete({ // autocomplete 구현 시작부
        source : function(reuqest, response) {
            $.ajax({
                type : 'POST',
                url: '/autocomplete',
                dataType: "json",
                data: {searchValue:  $('#autoComplete').val()},
                success : function(data) {
                    // 서버에서 json 데이터 response 후 목록 추가
                    response(
                        $.map(data, function(item) {
                            return {
                                label : item.statNm,
                                value : item.statNm,
                                id : item.statId,
                                addr : item.addr
                            }
                        })
                    );
                },
                 error:function(request,status,error){       
                	 alert("code = "+ request.status + " message = " + request.responseText + " error = " + error);       
               	},
            });
        },
        select : function(event, ui) { // item 선택 시 이벤트
            console.log(ui.item);
        	
        	// hidden input에 statId, addr 자른값 넣기
        	var location = ui.item.addr.split(' ', 2).join(" ");
        	$("#statid").val(ui.item.id);
        	$("#location").val(location);
        },
        focus : function(event, ui) { // 포커스 시 이벤트
            return false;
        },
        minLength : 1, // 최소 글자 수
        autoFocus : true, // true로 설정 시 메뉴가 표시 될 때, 첫 번째 항목에 자동으로 초점이 맞춰짐
        classes : { // 위젯 요소에 추가 할 클래스를 지정
            'ui-autocomplete' : 'highlight'
        },
        delay : 500, // 입력창에 글자가 써지고 나서 autocomplete 이벤트 발생될 떄 까지 지연 시간(ms)
        disable : false, // 해당 값 true 시, 자동완성 기능 꺼짐
        position : { my : 'right top', at : 'right bottom'}, // 제안 메뉴의 위치를 식별
        close : function(event) { // 자동완성 창 닫아질 때의 이벤트
            console.log(event);
        }
    });
	
});

</script>

<style>
.form-group > img{
	width:300px; 
}
</style>

<div class="col-lg-6">

        <div class="form-group">
    		<h1 class="h2 text-gray-700 mb-25 text-center">커뮤니티 정보 상세</h1>
		</div>
		
        <form class="communitydetail">    
        
        	<div class="form-group">
                <input type="number" class="form-control form-control-user"
                    name="pid" th:value="${comp.pid}" readonly="readonly">
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="uid" th:value="${comp.uid}" readonly="readonly">
            </div>
            
              <div class="form-group">
      			<input type="hidden" name="statid" id="statid" class="form-control" th:value="${comp.statid}">
  			</div>  
            
  			<div class="form-group">
      			  <input type="text" class="form-control" name="statNm" id="autoComplete" 
      			   th:value="${comp.statNm}">
  			</div> 
  				<input type="hidden" name="location" placeholder="지역" id="location" th:value="${comp.location}">

            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="title" th:value="${comp.title}">
            </div>

            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="tf" th:value="${comp.tf}">
            </div>       
            
            <div class="form-group">
            	<img th:src="@{'/img/'+${comp.cimgname}}">
                <input type="hidden" class="form-control form-control-user"
                    name="cimgname" th:value="${comp.cimgname}">
            </div>        

              <div class="form-group">
                  <input type="file" class="form-control form-control-item"
                      name="mf">
              </div>          
                       
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="regdate" th:value="${#dates.format(comp.regdate,'yyyy/MM/dd hh:mm:ss')}" readonly="readonly">
            </div>
                            
            <a id="updatebtn" href="#">업데이트</a>                          	
            <a id="deletebtn" href="#">삭제</a>   
            
        </form>
        

</div>
</html>