<meta charset="UTF-8">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="/css/udbt.css" /> 
<script>
$(document).ready(function(){
	$('#deletebtn').click(function(){
		var pid = $('input[name="pid"]').val();
		var c = confirm('삭제 하시겠습니까?');
		if(c == true){
			location.href='delete?pid='+pid;
		}
		
	});
	
});

</script>

<style>
.form-group > img{
	width:300px; 
}
</style>

<div class="col-lg-6">

        <div class="form-group">
    		<h1 class="h2 text-gray-700 mb-25 text-center">커뮤니티 상세</h1>
		</div>
		
        <form class="communitydetail">    
        
        	<div class="form-group">
                <input type="number" class="form-control form-control-user"
                    name="pid" th:value="${comp.pid}" readonly="readonly">
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="uid" th:value="${comp.uid}" readonly="readonly">
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="statid" th:value="${comp.statid}" readonly="readonly">
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="location" th:value="${comp.location}" readonly="readonly">
            </div>

            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="title" th:value="${comp.title}" readonly="readonly">
            </div>

            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="tf" th:value="${comp.tf}" readonly="readonly">
            </div>       
            
            <div class="form-group">
            	<img th:src="@{'/img/'+${comp.cimgname}}">
                <input type="hidden" class="form-control form-control-user"
                    name="cimgname" th:value="${comp.cimgname}">
            </div>        
        
                       
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="regdate" th:value="${#dates.format(comp.regdate,'yyyy/MM/dd hh:mm:ss')}" readonly="readonly">
            </div>
                            
                                      	
            <a id="deletebtn" href="#">삭제</a>   
            
        </form>
        

</div>