<style>
	td>img{
		width: 50px;
	}
</style>
<meta charset="utf-8">
<h1 class="h3 mb-2 text-gray-800">Community Tables</h1>

<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>POSTID</th>
                        <th>UID</th>
                        <th>STATID</th>
                        <th>LOCATION</th>
                        <th>TITLE</th>
                        <th>TF</th>
                        <th>CIMGNAME</th>
                        <th>REGDATE</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>POSTID</th>
                        <th>UID</th>
                        <th>STATID</th>
                        <th>LOCATION</th>
                        <th>TITLE</th>
                        <th>TF</th>
                        <th>CIMGNAME</th>
                        <th>REGDATE</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="post:${postlist}">
                        <td><a th:text="${post.pid}" th:href="@{detail(pid=${post.pid})}">pid</a></td>
                        <td th:text="${post.uid}">uid</td>
                        <td th:text="${post.statid}">statid</td>
                        <td th:text="${post.location}">location</td>
                        <td th:text="${post.title}">title</td>
                        <td th:text="${post.tf}">tf</td>
                        <td><img th:src="@{'/img/'+${post.cimgname}}"></td>
                        <td th:text="${#dates.format(post.regdate,'yyyy-MM-dd hh:mm:ss')}">regdate</td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>