<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.mapper.CarModelMapper">
	
	<insert id="insert" parameterType="carmodelVO">
		INSERT INTO carmodel VALUES (#{carmodelid},#{mname},#{mbrand},#{carimg},#{crange},#{batterysize},#{fptid},#{sptid})
	</insert>
	<update id="update" parameterType="carmodelVO">
		UPDATE carmodel SET mname=#{mname},mbrand=#{mbrand},carimg=#{carimg},crange=#{crange},
		batterysize=#{batterysize},fptid=#{fptid},sptid=#{sptid} WHERE carmodelid=#{carmodelid}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM carmodel WHERE carmodelid=#{carmodelid}
	</delete>
	<select id="select" parameterType="int" resultType="carmodelVO">
		SELECT * FROM carmodel WHERE carmodelid=#{carmodelid}
	</select>
	<select id="selectall" resultType="carmodelVO">
		SELECT * FROM carmodel
	</select>
	
</mapper>