<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.mapper.CommunityMapper">
	
	<!-- 글 detail select -->
	<select id="selectdetail" parameterType="int" resultType="communityVO">
		SELECT c.pid, c.uid, c.statid, s.statNm, s.lat, s.lng, c.location, c.title, c.tf, c.cimgname, c.regdate, u.usertypeid 
		FROM community c INNER JOIN users u ON c.uid=u.id
		LEFT JOIN station s ON c.statid=s.statId
		WHERE c.pid=#{pid}
		ORDER BY c.pid DESC
	</select>
		
	<select id="select" parameterType="int" resultType="communityVO">
		SELECT * FROM community WHERE pid=#{pid}
	</select>
	<select id="selectall" resultType="communityVO">
		SELECT * FROM community
	</select>
	
	<insert id="insert" parameterType="communityVO">
		INSERT INTO community VALUES (#{pid}, #{uid}, #{statid},
		#{location}, #{title}, #{tf}, #{cimgname}, SYSDATE())
	</insert>
	
	<update id="update" parameterType="communityVO">
		UPDATE community SET uid=#{uid}, statid=#{statid}, location=#{location},
		title=#{title}, tf=#{tf}, cimgname=#{cimgname} WHERE pid=#{pid}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM community WHERE pid=#{pid}
	</delete>
	
</mapper>


