<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.mapper.UserAuthorityMapper">
	
	<select id="select" parameterType="int" resultType="userauthorityVO">
		SELECT * FROM userauthority WHERE utid=#{id}
	</select>
	<select id="selectAll" resultType="userauthorityVO">
		SELECT * FROM userauthority
	</select>
	<insert id="insert" parameterType="userauthorityVO">
		INSERT INTO usersType VALUES (#{utid},#{userstypename})
	</insert>
	<update id="update" parameterType="userauthorityVO">
		UPDATE userauthority SET userstypename=#{userstypename} WHERE utid=#{utid}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM userauthority WHERE utid=#{utid}
	</delete>
	
</mapper>