<meta charset="UTF-8">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="/css/udbt.css" /> 
<script>
$(document).ready(function(){
	$('#deletebtn').click(function(){
		var id = $('input[name="id"]').val();
		var c = confirm('삭제 하시겠습니까?');
		if(c == true){
			location.href='delete?id='+id;
		}
		
	});
	
	$('#updatebtn').click(function(){
		$('.user').attr({
			'method':'post',
			'action':'update'
		});
		$('.user').submit();
	});
});

</script>

<div class="col-lg-6">

        <div class="form-group">
    		<h1 class="h2 text-gray-700 mb-25 text-center">고객 정보 상세</h1>
		</div>
        <form class="user">
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="id" th:value="${members.id}" readonly="readonly">
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="pwd"  th:value="${members.pwd}">
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="name"  th:value="${members.name}">
            </div>
           
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="nickname" th:value="${members.nickname}">
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="phonenum" th:value="${members.phonenum}">
            </div>
 
             <div class="form-group">
                <input type="email" class="form-control form-control-user"
                    name="email" th:value="${members.email}">
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="clp" th:value="${members.clp}">
            </div>         
                       
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    name="regdate" th:value="${#dates.format(members.regdate,'yyyy/MM/dd')}" readonly="readonly">
            </div>
            
              <div class="form-group">
                 <select name="usertypeid" class="form-control form-control-item">
                 	<option th:each="ua:${ualist}" 
                 	th:if="${ua.utid != 0 }" 
                 	th:value="${ua.utid}" 
                 	th:text="${ua.userstypename}"
                 	th:selected="${ua.utid} == ${members.usertypeid}">
                 	</option>
                 </select>
              </div>
              
              <div class="form-group">
                 <select name="carmodelid" class="form-control form-control-item">
                 	<option th:each="cm:${cmlist}" 
                 	th:if="${cm.carmodelid != 0}"
                 	th:value="${cm.carmodelid}" 
                 	th:text="${cm.mname}"
                 	th:selected="${cm.carmodelid} == ${members.carmodelid}">
                 	</option>
                 </select>
              </div>                          
         	
         	<a id="updatebtn" href="#">업데이트</a>
            <a id="deletebtn" href="#">삭제</a>   
            
        </form>
        

</div>