<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Members Tables</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>PWD</th>
                        <th>NAME</th>
                        <th>NICKNAME</th>
                        <th>PhoneNumber</th>
                        <th>Email</th>
                        <th>CAR LICENSE PLATE</th>
                        <th>USERTYPEID</th>
                        <th>REGDATE</th>
                        <th>CAR MODEL ID</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>PWD</th>
                        <th>NAME</th>
                        <th>NICKNAME</th>
                        <th>PhoneNumber</th>
                        <th>Email</th>
                        <th>CAR LICENSE PLATE</th>
                        <th>USERTYPEID</th>
                        <th>REGDATE</th>
                        <th>CAR MODEL ID</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="m:${mlist}">
                        <td><a th:text="${m.id}" th:href="@{detail(id=${m.id})}">id</a></td>
                        <td th:text="${m.pwd}">pwd</td>
                        <td th:text="${m.name}">name</td>
                        <td th:text="${m.nickname}">nickname</td>
                        <td th:text="${m.phonenum}">phonenumber</td>
                        <td th:text="${m.email}">email</td>
                        <td th:text="${m.clp}">car license plate</td>
                        <td th:text="${m.usertypeid}">uauserstypename</td>
                        <td th:text="${#dates.format(m.regdate,'yyyy-MM-dd')}">regdate</td>
                        <td th:text="${m.carmodelid}">car model id</td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>